<div class="container-fluid fondo p-3" style="min-height: 92vh;">
    <div class="row g-2">
        <div class="col-md-4 card mx-auto" style="width: 22rem;" *ngFor="let item of tiposServicio">
            <img [src]="item.url" class="card-img-top" style="height: 30vh;" [alt]="item.tipo">
            <div class="card-body">
                <h5 class="card-title">{{item.tipo}}</h5>
                <p class="card-text">{{item.detalle}}</p>
            </div>
            <footer class="card-footer">
                <h5 class="text-primary">Q. {{ item.costo }}</h5>
            </footer>
        </div>
    </div>
    <div class="col-md-6 mx-auto mt-3">
        <app-agregarservicio *ngIf="verRol('trabajador')"></app-agregarservicio>
    </div>
</div>