<h5>Agregar Servicio</h5>

<form class="row g-2">
    <div class="form-floating col-md-8">
        <input type="text" id="buscar" class="form-control">
        <label for="buscar">Buscar por codigo de reserva</label>
    </div>
    <button class="btn btn-primary col" (click)="buscarReserva()">Buscar</button>
</form>
<form class="row g-2 mt-2" *ngIf="verificado">
    <div class="form-floating col-md-8">
        <select class="form-select" id="indexServicio">
            <option *ngFor="let item of tiposServicio; index as i" [value]="i">
                {{ item.tipo }} - {{item.detalle}} - {{ item.costo }}
            </option>
        </select>
        <label for="indexServicio">Servicios</label>
    </div>
    <div class="form-floating col-md-2">
        <input type="number" min="0" id="numServicio" class="form-control">
        <label for="numServicio">Cantidad</label>
    </div>
    <button class="btn btn-success col-md-2" (click)="agregarServicio()">Agregar</button>
</form>